:root {
	/* COLORS */
	/* dark color */
	--dark-color100: #315068;
	--dark-color200: #1F3342;
	--dark-color300: #203646;
	--dark-color400: #1B2E3B;
	--dark-color500: #162530;
	--dark-color600: #192229;

	/* light color */
	--light-color200: #e0e0e0;
	--light-color300: #e6e6e6;
	--light-color400: #ededed;
	--light-color500: #f5f5f5;
	--light-color600: #d1d1d1;

	/* First color */
	--first-color200: #6B8Bff;
	--first-color300: #5C7fff;
	--first-color400: #5277ff;
	--first-color500: #436CFF;
	--first-color600: #335fff;

	/* --first-color200: #4db2ff;
	--first-color300: #33A7FF;
	--first-color400: #1A9CFF;
	--first-color500: #0191ff;
	--first-color600: #0082E6; */

	/* Second color */
	--second-color400: #E36F7B;
	--second-color500: #ec4052;
	--second-color600: #d63343;

	/* Third color */
	--third-color400: #FFC14D;
	--third-color500: #ffa500;
	--third-color600: #E69500;

	/* otros colores */
	--four-color400: #55b742;
	--four-color500: #20b004;
	--four-color600: #22990b;

	/* Fonts Family */
	--heading-font: 'Raleway', sans-serif;
	--body-font: 'Roboto', sans-serif;

	/* Fonts size */
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.85rem;

	/* Width layout */
	--width-layout: 75rem;

	/* Heights */
	--header-height: 3rem;

	/* Paddings */
	--small-padding: 0.5rem;
	--normal-padding: 1rem;
	--large-padding: 1.5rem;
	--x-large-padding: 2rem;

	/* Margins */
	--small-margin: 0.5rem;
	--normal-margin: 1rem;
	--large-margin: 1.5rem;
	--x-large-margin: 2rem;

	/* Border-radius */
	--border-radius: 0.3rem;

	/* Z-index */
	--z-index100: 100;
	--z-index200: 110;
	--z-index300: 120;

	/* grid gaps */
	--small-gap: 0.5rem;
	--normal-gap: 1rem;
	--large-gap: 1.5rem;

	/* Table */
	--width-table: 1200px;
	--height-table: 300px;
	--frozen-width: 10rem;
}

@media screen and (min-width: 64rem) {
	:root {
		/* Fonts size */
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.50rem;
		--normal-font-size: 1.1rem;
		--small-font-size: .95rem;

		/* Heights */
		--header-height: 4rem;
	}
}

/* Estilos base */
body {
	min-height: 100vh;
	font-size: var(--normal-font-size);
	color: var(--light-color500);
	background-color: var(--dark-color500);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--header-height) 1fr auto;
}

.container {
	max-width: var(--width-layout);
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding: var(--small-padding) var(--normal-padding);
}

.main-header,
.main-footer {
	background-color: var(--dark-color600);
}
.main {
	background-color: var(--dark-color500);
}
.main-footer {
	background-color: var(--dark-color600);
}
.main-footer .group {
	height: auto;
}

.title {
	text-align: center;
}
.img {
	height: var(--height-table);
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.subtitle {
	font-size: var(--h2-font-size);
	text-align: center;
}
.third-title {
	font-size: var(--h3-font-size);
}

.group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	transition: height .3s;
}
/* Estilos de logo */
.logotipo {
	display: block;
	text-decoration: none;
	margin: 0;
	color: var(--light-color500);
	font-size: var(--h2-font-size);
	font: var(--h2-font-size) var(--heading-font);
}

.logotipo-bold {
	color: var(--first-color200);
	font-weight: bold;
}

/* Estilos icono menu */
.icon {
	width: 32px;
	height: 32px;
	padding: .1rem;
	background-color: var(--light-color500);
	border-radius: var(--border-radius);
	cursor: pointer;
}
.toggle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
}

/* Estilos del submenu */
.menu--second {
	margin: 0;
}
.link {
	color: var(--first-color200);
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0;
}
.link:hover {
	text-decoration: underline;
}

/* Estilos de la navegacion */
.nav {
	position: fixed;
	top: var(--header-height);
	width: 80%;
	min-height: 100vh;
	background-color: var(--dark-color400);
	transform: translateX(100%);
	transition: transform .1s;
	z-index: var(--z-index300);
}
.menu {
	list-style: none;
	padding-left: 0;
	margin: 0;
	overflow: hidden;
}
.menu__item {
	border-bottom: 1px solid var(--dark-color600);
}
.menu__link {
	display: block;
	text-decoration: none;
	color: var(--light-color500);
	padding: .5rem 1rem;
}

.menu--show {
	transform: translateX(0);
	right: 0;
}

/* Navegacion table */
.navegation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--normal-padding) 0;
	box-shadow: 0 2px 0 var(--dark-color400);
}


.navegation__field{
	flex: auto;
	display: flex;
	justify-content: space-around;
}

.navegation__field:first-child {
	justify-items: center;
	margin-bottom: 1rem;
}

/* Estilos de formularios */
.form {
	margin-top: 1rem;
	border-radius: var(--border-radius);
	transition: max-width 5s;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem .5rem;
	box-shadow: 1px 1px 1px 0 var(--dark-color100),
					-1px -1px 1px 0 var(--dark-color100);
}
.form__field {
	padding: .5rem 0;
}
.form__label,
.form__input {
	display: block;
	width: calc(100% - 1rem);
	margin-bottom: .5rem;
}
.form__input {
	margin-left: .5rem;
}

.form__field:last-child {
	display: flex;
}
.form__field:last-child .button {
	margin-left: auto;
	margin-right: auto;
}


/* Media querys */
@media screen and ( min-width: 32rem ) {
	.link {
		text-align: left;
		display: inline-block;
		padding: var(--small-padding) var(--normal-padding);
	}

	.navegation {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	.navegation__field .input {
		margin-right: 1rem;
	}
	
	.navegation__field:first-child {
		margin-bottom: 0;
		justify-content: flex-start;
	}
	.navegation__field .button-new {
		margin-right: 1rem;
	}
	.navegation__field:last-child {
		justify-content: flex-end;
	}

	.form {
		margin-top: 3rem;
	}
	.form__field:last-child {
		grid-column: 1 / 2;
	}
}

@media screen and ( min-width: 64rem ) {
	.icon {
		display: none;
	}
	.nav {
		position: static;
		width: 100%;
		min-height: 0;
		transform: translateX(0);
	}
	.menu {
		display: flex;
	}
	.menu__item {
		flex: auto;
		border: none;
	}
	.menu__link {
		text-align: center;
	}
	.menu__link:hover {
		background-color: var(--first-color500);
		text-decoration: underline;
	}

	.menu--show{
		transform: translateX(0);
	}
}





/* Estilos botones */
.button-update {
	color: var(--four-color500);
}
.button-delete {
	color: var(--second-color500);
}
.button-new,
.button-save {
	background-color: var(--four-color500);
	border-color: var(--four-color500);
}
.button-report,
.button-search,
.button-return {
	background-color: var(--first-color500);
	border-color: var(--first-color500);
}

.input {
	padding: .3rem var(--small-padding);
	border-radius: var(--border-radius);
}

/* Estilos de tablas */
.table-container {
	margin-top: .5rem;
	height: var(--height-table);
	overflow-x: auto;
	position: relative;
	width: 100%;
	background-color: var(--dark-color400);
	border-radius: var(--border-radius);
	-webkit-box-shadow: 0 0 .1rem 0 var(--dark-color400),
					0 0 .1rem 0 var(--dark-color400);
	        box-shadow: 0 0 .1rem 0 var(--dark-color400),
					0 0 .1rem 0 var(--dark-color400);
}
.table {
	position: absolute;
	height: auto;
	font-size: var(--small-font-size);
	color: var(--light-color500);
	min-width: var(--width-table);
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
	background-color: var(--dark-color500);
}
.table__head,
.table__data { 
	padding: var(--small-padding);
	-webkit-box-shadow: 0 0 1px var(--dark-color100);
	box-shadow: 0 0 1px var(--dark-color100); 
	text-transform: capitalize;
}
.table__data:nth-child(5) {
	text-transform: lowercase;
}
.table__data:nth-child(odd) { background-color: var(--dark-color200); }
.table__header,
.table__head,
.table__data:first-child {
	position: -webkit-sticky; position: sticky; left: 0; top: 0;
}
.table__data:first-child { background-color: var(--dark-color200); }
.table__header,
.table__head {
	background-color: var(--first-color500);
	z-index: var(--z-index200); color: var(--light-color500);
}
.table__head:first-child { z-index: var(--z-index300); }
.table__row:hover .table__data {
	color: var(--light-color500); background-color: var(--dark-color500);
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}
/* Estilos de scrool */
*::-webkit-scrollbar { -webkit-appearance: none;}
*::-webkit-scrollbar:vertical { width: 10px; }
*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button { display: none; }
*::-webkit-scrollbar:horizontal { height: 10px; }
*::-webkit-scrollbar-thumb { background-color: var(--dark-color100); border-radius: 1rem; }
*::-webkit-scrollbar-track { border-radius: 1rem; }
*::-webkit-scrollbar-thumb:hover { background-color: var(--dark-color300); border-radius: 1rem; }